<app-banner
  [title]="'المدونة'"
  [back]="'الرئيسية'"
  [here]="'المدونة'"
></app-banner>
<section class="container blog">
  <div class="mt-3">
    <div class="row">
      <div class="col-12 col-md-8 mb-4">
        <div class="main">
          <img src="../../../../assets/img/blogDetails.png" alt="blogDetails" />
          <div class="text mt-3">
            <h1>أهم 10 نصائح لنجاح التعلم عبر الإنترنت</h1>
            <p>
              انطلق في رحلتك المهنية نحو عالم الإرشاد السياحي مع برنامج تدريبي
              شامل يأخذك من الأساسيات إلى التميز، مصمم خصيصًا ليؤهلك لتصبح
              مرشدًا سياحيًا محترفًا؛ تتعلم فيه كل ما يلزمك من مهارات التواصل
              الفعّال، بناء المسارات والجولات السياحية، التعامل مع المجموعات
              والسياح من مختلف الثقافات، استخدام أساليب العرض الجذابة،
              والاستعداد لمواقف الحياة الواقعية خلال الجولات، مع تدريبات عملية
              وشهادات معتمدة تفتح لك أبواب العمل في شركات السياحة والرحلات
              محليًا ودوليًا
            </p>
          </div>
          <div class="text mt-3">
            <h1>النقاط الرئيسية:</h1>
            <ul>
              <li>فهم دور ومسؤوليات المرشد السياحي</li>
              <li>
                التعرف على أنواع السياحة (ثقافية – بيئية – ترفيهية – دينية...)
              </li>
              <li>التعرف على المكونات الأساسية للقطاع السياحي</li>
              <li>إتقان مهارات التحدث أمام الجمهور</li>
              <li>إتقان مهارات التحدث أمام الجمهور</li>
            </ul>
          </div>
          <div class="text mt-3">
            <h1>أنشئ مكانًا مخصصًا للدراسة</h1>
            <p>
              لأنها ليست مجرد دورة نظرية، بل تجربة متكاملة تهدف إلى تأهيلك
              مهنيًا وشخصيًا لتصبح مرشدًا سياحيًا محترفًا في واحد من أكثر
              المجالات متعة وطلبًا في سوق العمل. ستأخذك هذه الدورة في رحلة
              تعليمية تبدأ من الصفر وتمنحك: محليًا ودوليًا
            </p>
            <ul>
              <li>منهج شامل ومحدث يغطي جميع جوانب الإرشاد السياحي.</li>
              <li>
                تدريب عملي واقعي يُحاكي المواقف اليومية التي يواجهها المرشدون
                السياحيون.
              </li>
              <li>إشراف من مدربين خبراء في المجال السياحي المحلي والدولي.</li>
              <li>شهادة معتمدة تعزز فرصك المهنية لدى شركات السياحة والسفر.</li>
              <li>
                مرونة في التعلم من خلال محتوى رقمي، ومحاضرات مباشرة ومسجلة.
              </li>
            </ul>
          </div>
          <div class="text mt-3">
            <h1>ابق منظمًا</h1>
            <p>
              المبتدئين تمامًا الذين ليست لديهم أي خلفية أو خبرة سابقة في
              السياحة أو الفندقة، ويرغبون في بدء مسيرة مهنية في هذا القطاع
              المتنامي. تعليمية تبدأ من الصفر وتمنحك: محليًا ودوليًا
            </p>
            <ul>
              <li>
                حديثي التخرج من تخصصات غير سياحية أو فندقية، ويريدون التحول
                المهني نحو مجال مليء بالفرص محليًا ودوليًا.
              </li>
              <li>
                الباحثين عن عمل الذين يسعون لاكتساب مهارات عملية تؤهلهم للالتحاق
                بوظائف في الفنادق، شركات السياحة، أو مكاتب السفر.
              </li>
              <li>
                الأشخاص من خلفيات إدارية أو مكتبية ممن يرغبون في دخول مجال
                الضيافة وتعلم قواعد التعامل مع السياح والنزلاء.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="search">
          <div class="d-flex justify-content-center align-items-center">
            <h1>البحث</h1>
          </div>
          <hr class="dotted-line" />
          <app-blog-search></app-blog-search>
        </div>
        <div class="mt-3">
          <div class="blogSearch">
            <h1>مدونات ذات صلة</h1>
            <div *ngFor="let blog of blog$ | async" class="mt-4 mb-3">
              <div class="d-flex align-items-start gap-3">
                <img [src]="blog.img" alt="blogImage" />
                <p>{{ blog.title }}</p>
              </div>
              <div class="d-flex justify-content-end">
                <p class="date">13/5/2025</p>
              </div>
              <hr class="dotted-line" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
