<p-card [style]="{ overflow: 'hidden', height: '35rem' }">
  <ng-template pTemplate="header">
    <img
      alt="Card"
      class="w-full"
      [src]="instructor?.avatar || instructor?.img"
    />
    <div class="plus-button"><span class="pi pi-plus"></span></div>
  </ng-template>

  <ng-template pTemplate="title"> {{ instructor?.name }} </ng-template>

  <div
    class="row d-flex justify-content-between align-items-center instructor-info"
  >
    <div class="col-6 mb-3">
      <div class="d-flex gap-2">
        <img src="../../../../assets/svg/card/bookmark.svg" alt="video" />
        <span>{{ instructor?.mainSkill || instructor?.technicalSkill }}</span>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="d-flex justify-content-center gap-2">
        <img src="../../../../assets/svg/card/clock.svg" alt="chart" />
        <span
          >{{ instructor?.numberOfCourses || instructor?.course }} منهج</span
        >
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="d-flex gap-2">
        <img src="../../../../assets/svg/card/star.svg" alt="star" />
        <span>{{ instructor?.starRanking || instructor?.rating }}/5</span>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <img
          src="../../../../assets/svg/card/profile-2user.svg"
          alt="student"
        />
        <span
          >{{ instructor?.numberOfStudents || instructor?.students }} طالب</span
        >
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <hr class="dotted-line" />
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center mt-1">
      <a
        [routerLink]="['/instructorDetails', instructor?.id]"
        class="w-100 text-center text-decoration-none"
      >
        <p-button label="الإطلاع علي المدرب" styleClass="w-full"></p-button>
      </a>
    </div>
  </ng-template>
</p-card>
