@import 'partiel/colors';
@import 'partiel/courses';
@import 'partiel/homepage';
@import 'partiel/scroll-bar';
@import 'partiel/instructor/instructor';
@import 'partiel/shared/navbar';
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}
