<div class="trainer">
  <div class="container">
    <div class="d-flex justify-content-center flex-column align-items-center">
      <h1>مدربو الدورات</h1>
      <p>
        يقدم الدورات نخبة من الخبراء والمحترفين في مجالاتهم، ممن يملكون خبرة
        عملية وأكاديمية واسعة
      </p>
    </div>
    <div class="row">
      <div
        class="col-12 col-md-6 col-lg-4 mb-4"
        *ngFor="let instructor of instructorsData$ | async"
      >
        <app-instructor-card [instructor]="instructor"></app-instructor-card>
      </div>
    </div>
  </div>
</div>
