<p-card [style]="{ overflow: 'hidden' }">
  <ng-template pTemplate="header">
    <div class="position-relative">
      <img [src]="getCourseImage()" [alt]="course.title" class="w-full" />
      <div
        class="course-level-badge"
        [style.background-color]="getCourseLevelColor()"
        [class]="getCourseLevelClass()"
      >
        {{ getCourseLevel() }}
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="title">
    <div class="course-title-container">
      <div class="course-title-ar">{{ getCourseTitleAr() }}</div>
      <div class="course-title-en" *ngIf="getCourseTitleEn()">
        {{ getCourseTitleEn() }}
      </div>
    </div>
  </ng-template>

  <div class="course-meta">
    <div class="meta-item">
      <img src="../../../../assets/svg/card/chart.svg" alt="chart" />
      <span
        class="badge"
        [style.background-color]="getCourseLevelColor()"
        [style.color]="'white'"
        [style.padding]="'2px 8px'"
        [style.border-radius]="'12px'"
        [style.font-size]="'12px'"
      >
        {{ getCourseLevel() }}
      </span>
    </div>

    <div class="meta-item">
      <img src="../../../../assets/svg/card/star.svg" alt="star" />
      <span class="rating">{{ getCourseRating() }}</span>
    </div>

    <div class="meta-item">
      <div class="instructor-info">
        <img
          class="img-profile"
          src="../../../../assets/img/student img.png"
          alt="trainer"
        />
        <span>{{ getTrainerName() }}</span>
      </div>
    </div>
  </div>

  <hr class="dotted-line" />

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center">
      <p-button
        [label]="getButtonText()"
        styleClass="w-full"
        [routerLink]="getCourseLink()"
      ></p-button>
    </div>
  </ng-template>
</p-card>
