<p-card [style]="{ overflow: 'hidden' }">
  <ng-template pTemplate="header">
    <div class="position-relative">
      <img [src]="course.img" alt="Course Image" class="w-full" />
      <div class="course-level-badge">{{ course.level }}</div>
    </div>
  </ng-template>

  <ng-template pTemplate="title">
    {{ course.title }}
  </ng-template>

  <div class="course-meta">
    <div class="meta-item">
      <img src="../../../../assets/svg/card/video.svg" alt="video" />
      <span>{{ course.lectures }} محاضره</span>
    </div>

    <div class="meta-item">
      <img src="../../../../assets/svg/card/chart.svg" alt="chart" />
      <span>{{ course.level }}</span>
    </div>

    <div class="meta-item">
      <img src="../../../../assets/svg/card/star.svg" alt="star" />
      <span class="rating">(4.2k) {{ course.rating }}</span>
    </div>

    <div class="meta-item">
      <div class="instructor-info">
        <img
          class="img-profile"
          src="../../../../assets/img/student img.png"
          alt="student"
        />
        <span>{{ course.instructor.name }}</span>
      </div>
    </div>
  </div>

  <hr class="dotted-line" />

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center">
      <p-button
        [label]="getButtonText()"
        styleClass="w-full"
        [routerLink]="getCourseLink()"
      ></p-button>
    </div>
  </ng-template>
</p-card>
