<p-card class="homePageCards" [style]="{ overflow: 'hidden' }">
  <ng-template pTemplate="header">
    <img
      alt="Card"
      class="w-full"
      src="../../../../assets/img/homePagecourse.png"
    />
    <div class="courseDetails">
      <h1>المنهج الأول</h1>
      <p>ناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما</p>
    </div>
  </ng-template>

  <ng-template pTemplate="title">
    <div class="d-flex justify-content-between align-items-center">
      <div class="instructor d-flex gap-3 align-items-center">
        <img src="../../../../assets/img/student img.png" alt="instructor" />
        <h3>يشرحه الأستاذ الأول</h3>
      </div>
      <h1>مجانا !</h1>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center mt-1">
      <p-button label="بداء التعلم" styleClass="w-full"></p-button>
    </div>
  </ng-template>
</p-card>
