<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  [ngClass]="{ scrolled: isScrolled }"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/logoImg.png" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            [routerLink]="['/courses']"
            >الرئيسة</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/homepage']"
            >دوراتي التدريبية</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/instructor']"
            >المدربين</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/blogs']"
            >المدونة</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/favorites']"
            >المفضلة</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['/profile']"
            >الملف الشخصي</a
          >
        </li>
      </ul>
      <button
        class="btn btn-primary logout-btn d-none d-lg-block me-auto"
        (click)="logout()"
      >
        تسجيل الخروج
      </button>
      <ul class="navbar-nav">
        <li class="nav-item d-lg-none">
          <a class="nav-link text-danger" (click)="logout()">تسجيل الخروج</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
