<section class="types">
  <div class="container">
    <!-- Hero Section -->
    <div class="hero-section">
      <h1>استكشف البرامج التدريبية المجانية</h1>
      <p>
        سواء كنت طالبا و تسعى لتطوير مهاراتك في مجال تخصصك،
        ستجد لدينا كل ما تحتاج إليه. 
      </p>
    </div>

    <!-- Types Cards Section -->
    <div class="types-cards row g-4 justify-content-center">
      <div
        class="col-12 col-md-6 col-lg-4"
        *ngFor="let type of types(); trackBy: trackByType"
      >
        <div class="card" (click)="onTypeClick(type)">
          <div class="d-flex justify-content-end">
            <img class="type-img" [src]="type.img" alt="type" />
          </div>
          <h1>{{ type.name }}</h1>
          <p>{{ type.description }}</p>
          <p>{{ type.examples }}</p>
          
        </div>
      </div>
    </div>
  </div>
</section>
